<p-steps [model]="steps" [activeIndex]="currentStep"></p-steps>

<div class="container" [ngSwitch]="currentStep">
  <div class="" *ngSwitchCase="0">
    <!-- Contenido del primer paso -->
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" class="form-control" id="nombre" formControlName="nombre">
    </div>

    <br>

    <div class="row justify-content-center">
      <div class="col-md-6 mx-auto">
        <div class="form-group">
          <label for="tipoProveedor">Tipo de Proveedor</label>
          <select class="form-control" id="tipoProveedor" formControlName="tipoProveedor">
            <option value="natural">Natural</option>
            <option value="juridica">Jurídica</option>
          </select>
        </div>
      </div>

      <br>

      <div class="col-md-6 mx-auto">
        <div class="form-group">
          <label for="CategoriaTributaria">Categoría Tributaria</label>
          <select class="form-control" formControlName="CategoriaTributaria">
            <option value="Declarante">Declarante</option>
            <option value="AgenteRetenedor">Agente Retenedor</option>
            <option value="Autoretendor">Auto retendor</option>
          </select>
        </div>
      </div>
    </div> 
  </div>

  <!-- Aqui termina la primera seleccion -->
  <!-- Contenido del segundo paso -->
  <div *ngSwitchCase="1">
    <div class="row justify-content-center">
      <div class="col-md-6 mx-auto">
        <div class="form-group">
          <label for="tipoProveedor">Actividad Económica (Solo ingrese Números)</label>
          <select class="form-control" id="actividadEconomica " formControlName="tipoProveedor">
            <option value="nit">NIT.</option>
            <option value="cedula">CC.</option>
            <option value="cedulaExtranjeria">CE.</option>
            <option value="persona">PS.</option>
          </select>
        </div>
      </div>

      <br>

      <div class="col-md-6 mx-auto">
        <div class="form-group">
          <label for="numeroDeDocumento">Número de documento (si es NIT sin punto y con digito de verificación)</label>
          <input type="text" class="form-control" id="numeroDeDocumento" formControlName="numeroDeDocumento">
        </div>
      </div>

      <br>

      <div class="col-md-6 mx-auto">
        <div class="form-group">
          <label for="nombresApellidosCompletosDelRepresentanteLegal">Si es razón social, por favor indique Nombres y Apellidos completos del Representante Legal,
            en caso contrario colocar N/A</label>
          <input type="text" class="form-control" id="nombresApellidosCompletosDelRepresentanteLegal" formControlName="nombresApellidosCompletosDelRepresentanteLegal">
        </div>
      </div>
    </div>
  </div>

  <!-- Aqui termina la segunda seleccion -->
  <!-- Contenido del tercer paso -->

  <div *ngSwitchCase="2">
    <div class="row justify-content-center">
      <div class="col-md-6 mx-auto">
        <div class="form-group">
          <label for="tipoNumeroDocumentoRepresentanteLegal">Tipo y Número de Documento de Identidad del represéntate legal, en caso contrario colocar
            N/A</label>
          <input type="text" class="form-control" id="tipoNumeroDocumentoRepresentanteLegal" formControlName="tipoNumeroDocumentoRepresentanteLegal">
        </div>
      </div>

      <br>

      <div class="col-md-6 mx-auto">
        <div class="form-group">
          <label for="entidadBancaria">Entidad Bancaria</label>
          <input type="text" class="form-control" id="entidadBancaria" formControlName="entidadBancaria">
        </div>
      </div>

      <br>

      <div class="col-md-6 mx-auto">
        <div class="form-group">
          <label for="numeroDeCuenta">Número de Cuenta</label>
          <input type="text" class="form-control" id="numeroDeCuenta" formControlName="numeroDeCuenta">
        </div>
      </div>

      <br>

      <div class="col-md-6 mx-auto">
        <div class="form-group">
          <label for="tipoDeCuenta">Tipo de cuenta</label>
          <select class="form-control" id="tipoDeCuenta" formControlName="tipoDeCuenta">
            <option value="ahorros">Ahorros.</option>
            <option value="corriente">Corriente.</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <!-- Aqui termina la segunda seleccion -->
  <!-- Contenido del tercer paso -->

  <div *ngSwitchCase="3">
    <div class="row justify-content-center">
      <div class="col-md-6 mx-auto">
        <div class="form-group">
          <label for="aNombreDe"> A nombre de: </label>
          <input type="text" class="form-control" id="aNombreDe" formControlName="aNombreDe">
        </div>
      </div>

      <br>

      <div class="col-md-6 mx-auto">
        <div class="form-group">
          <label for="direccionPrincipal">Dirección Principal</label>
          <input type="text" class="form-control" id="direccionPrincipal" formControlName="direccionPrincipal">
        </div>
      </div>

      <br>
      <div class="col-md-6 mx-auto">
        <div class="form-group">
          <label for="barrioOSector">Barrio ó sector</label>
          <input type="text" class="form-control" id="barrioOSector" formControlName="barrioOSector">
        </div>
      </div>

      <br>

      <div class="col-md-6 mx-auto">
        <div class="form-group">
          <label for="municipio">Municipio</label>
          <input type="text" class="form-control" id="municipio" formControlName="municipio">
        </div>
      </div>

      <br>
      <div class="col-md-6 mx-auto">
        <div class="form-group">
          <label for="departamento">Departamento</label>
          <input type="text" class="form-control" id="departamento" formControlName="departamento">
        </div>
      </div>

      <br>

      <div class="col-md-6 mx-auto">
        <div class="form-group">
          <label for="pais">País</label>
          <input type="text" class="form-control" id="pais" formControlName="pais">
        </div>
      </div>
    </div>
  </div>

  <!-- Aqui termina la tercera seleccion -->
  <!-- Contenido del cuarta paso -->

  <div *ngSwitchCase="4">
    <div class="row justify-content-center">
      <div class="col-md-6 mx-auto">
        <div class="form-group">
          <label for="numeroDeTelefonoFijoOpcional">Número de teléfono fijo opcional</label>
          <input type="text" class="form-control" id="numeroDeTelefonoFijoOpcional" formControlName="numeroDeTelefonoFijoOpcional">
        </div>
      </div>

      <br>

      <div class="col-md-6 mx-auto">
        <div class="form-group">
          <label for="numeroCelularOWhatsapp">Número celular ó whatsapp</label>
          <input type="text" class="form-control" id="numeroCelularOWhatsapp" formControlName="numeroCelularOWhatsapp">
        </div>
      </div>

      <br>

      <div class="col-md-6 mx-auto">
        <div class="form-group">
          <label for="correoElectronico">Correo Electrónico</label>
          <input type="text" class="form-control" id="correoElectronico" formControlName="correoElectronico">
        </div>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="5">
    <div class="row justify-content-center">
      <div class="col-md-6 mx-auto">
        <div class="form-group">
          <label for="contactoUnoEjecutivoComercial"> Contacto 1 Ejecutivo Comercial- Nombre y Apellidos completos-Cargo </label>
          <input type="text" class="form-control" id="contactoUnoEjecutivoComercial" formControlName="contactoUnoEjecutivoComercial">
        </div>
      </div>

      <br>

      <div class="col-md-6 mx-auto">
        <div class="form-group">
          <label for="contactoUnoNumero">Número de contacto 1</label>
          <input type="text" class="form-control" id="contactoUnoNumero" formControlName="contactoUnoNumero">
        </div>
      </div>

      <br>

      <div class="col-md-6 mx-auto">
        <div class="form-group">
          <label for="contactoUnoCorreo"> Correo electrónico contacto 1</label>
          <input type="text" class="form-control" id="contactoUnoCorreo" formControlName="contactoUnoCorreo">
        </div>
      </div>
    </div>
  </div>

  <!-- Aqui termina la quinta seleccion -->
  <!-- Contenido del sexta paso -->

  <div *ngSwitchCase="6">
    <div class="row justify-content-center">

      <div class="col-md-6 mx-auto">
        <div class="form-group">
          <label for="contactoDosEjecutivoComercial">Contacto 2 área contable Nombre y Apellidos Completos- Cargo</label>
          <input type="text" class="form-control" id="contactoDosEjecutivoComercial" formControlName="contactoDosEjecutivoComercial">
        </div>
      </div>

      <br>

      <div class="col-md-6 mx-auto">
        <div class="form-group">
          <label for="contactoDosNumero"> Numero de contacto 2 </label>
          <input type="text" class="form-control" id="contactoDosNumero" formControlName="contactoDosNumero">
        </div>
      </div>

      <br>

      <div class="col-md-6 mx-auto">
        <div class="form-group">
          <label for="contactoDosCorreo"> Correo electrónico contacto 2</label>
          <input type="text" class="form-control" id="contactoDosCorreo" formControlName="contactoDosCorreo">
        </div>
      </div>
    </div>
  </div>

  <!-- Aqui termina la sexta seleccion -->
  <!-- Contenido del septima paso -->

  <div *ngSwitchCase="7">
    <div class="row justify-content-center">
      <div class="col-md-6 mx-auto">
        <div class="form-group">
          <label for="categoriaDeProducto">Categoría de Producto  ó servicio que ofrece</label>
          <select class="form-control" id="categoriaDeProducto" formControlName="categoriaDeProducto">
            <option value="tangible">Tangible.</option>
            <option value="intangible">Intangible.</option>
          </select>
        </div>
      </div>

      <br>

      <div class="col-md-6 mx-auto">
        <div class="form-group">
          <label for="especifiqueCategoriaDeBienes">  Especifique categoría de bienes o servicios ofrecidos</label>
          <input type="text" class="form-control" id="especifiqueCategoriaDeBienes" formControlName="especifiqueCategoriaDeBienes">
        </div>
      </div>

      <br>

      <div class="col-md-6 mx-auto">
        <div class="form-group">
          <label for="formaDePago">Forma de pago</label>
          <select class="form-control" id="formaDePago" formControlName="formaDePago">
            <option value="credito">Crédito.</option>
            <option value="contado">Contado.</option>
          </select>
        </div>
      </div>

      <br>

      <div class="col-md-6 mx-auto">
        <div class="form-group">
          <label for="plazoDePago">Plazo de pago</label>
          <select class="form-control" id="plazoDePago" formControlName="plazoDePago">
            <option value="credito">30 Días.</option>
            <option value="contado">45 Días.</option>
            <option value="credito">60 Días.</option>
            <option value="contado">90 Días.</option>
            <option value="credito">Otros.</option>
          </select>
        </div>
      </div>

      <br>

      <div class="col-md-6 mx-auto">
        <div class="form-group">
          <label for="especifiqueCual">  ¿Especifique cual?</label>
          <input type="text" class="form-control" id="especifiqueCual" formControlName="especifiqueCual">
        </div>
      </div>
    </div>
  </div>

  <!-- Aqui termina la septima seleccion -->
  <!-- Contenido del octavo paso -->

  <div *ngSwitchCase="8">
    <div class="row justify-content-center">
      <div class="col-md-6 mx-auto">
        <div class="form-group">
          <label for="aplicaDescuentoFinanciero">Aplica descuento financiero por pronto pago (en caso de afirmativa colocar SI y el descuento
            con el %), en caso contrario colocar  N/A</label>
          <input type="text" class="form-control" id="aplicaDescuentoFinanciero" formControlName="aplicaDescuentoFinanciero">
        </div>
      </div>

      <br>

      <div class="col-md-6 mx-auto">
        <div class="form-group">
          <label for="clasificaciónTributaria"> Clasificación  tributaria</label>
          <select class="form-control" id="clasificaciónTributaria" formControlName="clasificaciónTributaria">
            <option value="regimencomun">Régimen Común (Responsable de IVA).</option>
            <option value="regimenSimplificado">Régimen Simplificado (No responsable de IVA).</option>
            <option value="granContribuyente">Gran contribuyente.</option>
            <option value="empresaDelEstado">Empresa del Estado.</option>
            <option value="regimenEspecial">Régimen Especial.</option>
            <option value="noResiente">No Resiente en el país.</option>
          </select>
        </div>
      </div>

      <br>

      <div class="col-md-6 mx-auto">
        <div class="form-group">
          <label for="tipoDeRegimen"> Tipo de Regimen</label>
          <select class="form-control" id="tipoDeRegimen" formControlName="tipoDeRegimen">
            <option value="ordinario">Ordinario.</option>
            <option value="simple">Simple.</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <!-- Aqui termina la octavo seleccion -->
  <!-- Contenido del noveno paso -->

  <div *ngSwitchCase="9">
    <div class="row justify-content-center">
      <div class="col-md-6 mx-auto">
        <div class="form-group">
          <label for="reclamoDeGarantiaProcedimiento"> En caso de reclamo por garantía, indique el procedimiento:</label>
          <input type="text" class="form-control" id="reclamoDeGarantiaProcedimiento" formControlName="reclamoDeGarantiaProcedimiento">
        </div>
      </div>

      <br>

      <div class="col-md-6 mx-auto">
        <div class="form-group">
          <label for="refeerenciaComercialUno">Referencia Comercial 1-Razón social y contacto (nombre y apellidos completos)</label>
          <input type="text" class="form-control" id="refeerenciaComercialUno" formControlName="refeerenciaComercialUno">
        </div>
      </div>

      <br>

      <div class="col-md-6 mx-auto">
        <div class="form-group">
          <label for="referneciaComercialUnoNumero">Número teléfono fijo, celular y correo electrónico</label>
          <input type="text" class="form-control" id="referneciaComercialUnoNumero" formControlName="referneciaComercialUnoNumero">
        </div>
      </div>
    </div>
  </div>

  <!-- Aqui termina la noveno seleccion -->
  <!-- Contenido del decimo paso -->

  <div *ngSwitchCase="10">
    <div class="row justify-content-center">
      <div class="col-md-6 mx-auto">
        <div class="form-group">
          <label for="refeerenciaComercialDos">Referencia Comercial 2-Razón social y contacto (nombre y apellidos completos)</label>
          <input type="text" class="form-control" id="refeerenciaComercialDos" formControlName="refeerenciaComercialDos">
        </div>
      </div>

      <br>

      <div class="col-md-6 mx-auto">
        <div class="form-group">
          <label for="referneciaComercialDosNumero">Número teléfono fijo, celular y correo electrónico</label>
          <input type="text" class="form-control" id="referneciaComercialDosNumero" formControlName="referneciaComercialDosNumero">
        </div>
      </div>

      <br>

      <div class="col-md-6 mx-auto">
        <div class="form-group">
          <label for="sistemaDeGestionAmbiental"> ¿Su compañía tiene implementado sistema de gestión ambiental? si su respuesta es
            afirmativa indique el número de la certificación  y por favor, envié una copia de la
            certificación en vigor donde se evidencie el tipo de certificación y la fecha, al correo
            electrónico fdiaz@cesde.edu.co</label>
          <input type="text" class="form-control" id="sistemaDeGestionAmbiental" formControlName="sistemaDeGestionAmbiental">
        </div>
      </div>
    </div>
  </div>

  <!-- Aqui termina la noveno seleccion -->
  <!-- Contenido de botónes -->

  <div class="d-flex justify-content-center my-3 button-container">
    <button type="button" class="btn btn-primary btn-sm mx-3 " (click)="previousStep()">Anterior</button>
    <button type="button" class="btn btn-primary btn-sm mx-3 " (click)="nextStep()">Siguiente</button>
    <!-- <button type="button" class="btn btn-primary btn-sm mx-3 " (click)="nextStep()" [disabled]="!proveedorForm.valid">Siguiente</button> -->
  </div>

</div>