@import "primeicons/primeicons.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
body {
  font-family: var(--font-family);
}

label{
  color: #ee2b7b;
  margin-bottom: 5px;
  white-space: nowrap;

}

html {
  font-size: 12px;
}
